html, body {
	
	background-image: url("/imagenes/salaLogin.jpg");

  background-position: center center;

  background-repeat: no-repeat;

  background-attachment: fixed;

  background-size: cover;


}